@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
}
a {
    text-decoration: none;
}