.container{
  @include breakpoint(xs) {
      max-width: 1252px;
      padding: 0 40px;
      margin: 0 auto;}
  @include breakpoint(sm) {
      max-width: 1252px;
      padding: 0 30px;
      margin: 0 auto;}

  @include breakpoint(md) {
      width: 100%;
      max-width: 1252px;
      padding: 0 10px;
      margin: 0 auto;
  }
}